@keyframes logo-sprite {
  100% {
    background-position: 0 -633px;
  }
}

.c-logo {
  width: 100px;
  height: 34px;
  background-position-y: -12px;
  background-size: 100px 621px;
  background-image: url('/images/logo-sprite.png');

  &:hover {
    animation: logo-sprite 1.5s steps(11) infinite;
  }
}