.c-field {
  display: block;
}

.c-field__input-wrapper {
  position: relative;
}

.c-field__label {
  display: block;
  color: $grey-light;
  @include font-size($small-font-size);

  .c-field--dark & {

  }
}

.c-field__input {
  width: 100%;
  padding: $spacing-medium 0;
  outline: 0;
  font-weight: $font-weight-regular;
  color: $grey-dark;
  border-bottom: 1px solid $border-color;
  transition: border-color $animation-time $animation-curve;
  resize: none;

  .c-field--dark & {
    color: $white;
  }

  &:focus {
    border-bottom-color: $primary-color;
  }
}

.c-field__input--textarea {
  resize: vertical;
}

.c-field__input--has-right-add-on {
  padding-right: $spacing-x-large;
}

.c-field__add-on {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  &--right {
    right: 0;
  }
}


// Autofill

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px $white inset;
}