.c-nav {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 300;
  @include vertical-padding(1.5rem);

  @include mq(small-up) {
    @include vertical-padding(2rem);
  }

  @include mq(medium-up) {
    position: absolute;
    @include vertical-padding(2.5rem);
  }

  @include mq(large-up) {
    @include vertical-padding(3rem);
  }

  @include mq(x-large-up) {
    @include vertical-padding(4rem);
  }
}

.c-nav__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.c-nav__logo {
  display: block;
}

.c-nav__toggle {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: $white;
  position: relative;
  z-index: 250;
  box-shadow: 0px 2px 4px 0px rgba($black, 0.2);
}

.c-nav__hamburger {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.c-nav__item {
  position: relative;
  padding-left: 1em;
  padding-right: 1em;

  &:not(:last-child):after {
    content: "";
    position: absolute;
    top: 50%;
    right: -2px;
    display: block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: $secondary-color;
  }
}

.c-nav__link {
  position: relative;
  color: $body-color;
  transition: color $animation-time $animation-curve;

  &:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: $secondary-color;
    transform: scaleX(0);
    transform-origin: left center;
    top: 50%;
    transition: transform $animation-time $animation-curve;
  }

  &:hover,
  &.is-active {
    color: $headline-color;

    &:after {
      transform: none;
    }
  }
}