@keyframes logo-sprite {
  100% {
    background-position: 0 -695px;
  }
}

.c-logo {
  width: 110px;
  height: 38px;
  background-position-y: -12px;
  background-size: 110px 683px;
  background-image: url('/images/logo-sprite.png');

  &:hover {
    animation: logo-sprite 1.5s steps(11) infinite;
  }
}