.c-social-links {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 2rem;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transition: opacity $animation-time $social-delay $animation-curve;

  .is-loaded & {
    opacity: 1;
  }

  @include mq(large-up) {
    left: 3.5rem;
  }

  @include mq(x-large-up) {
    left: 4.5rem;
  }

  @include mq(medium-down) {
    display: none;
  }
}

.c-social-links__item {
  display: inline-block;
  position: relative;
  padding: 1em;

  & + & {
    margin-top: 0.25em;

    @include mq(large-up) {
      margin-top: 0.5em;
    }
  }
}

.c-social-links__icon {
  fill: $primary-color;
  transition: fill $animation-time $animation-curve;

  .c-social-links__item:hover & {
    fill: $secondary-color;
  }
}