.c-btn {
  display: inline-block;
  padding: 0 1.25rem;
  height: $button-height-mobile;
  line-height: $button-height-mobile;
  font-size: 85%;
  font-weight: $font-weight-bold;
  transition: background-color $animation-time $animation-curve, color $animation-time $animation-curve, box-shadow $animation-time $animation-curve;

  @include mq(medium-up) {
    height: $button-height-desktop;
    line-height: $button-height-desktop;
    padding: 0 1.75rem;
  }
}

.c-btn--primary {
  background-color: $primary-color;
  color: $white;

  &:hover {
    background-color: mix($primary-color, $black, 95%);
  }
}

.c-btn--secondary {
  box-shadow: inset 0 0 0 1px $grey-light;
  color: $grey-dark;

  &:hover {
    color: $white;
    background-color: $grey-dark;
    box-shadow: inset 0 0 0 1px $grey-dark;
  }
}

.c-btn__icon {
  position: relative;
  margin-top: -1px;
  margin-right: $spacing-small;
}