// Primary

$purple: #454D7B;
$pink: #DC5E78;

$light-pink: #F4B4C0;
$light-purple: #E3C6E9;


// Misc

$white: #fff;
$off-white: #FAF5F0;
$black: #000;


// Greys

$grey-dark: #222;
$grey: #555;
$grey-light: #999;
$grey-lightest: #F1E4D8;


// Set colors

$primary-color: $purple;
$secondary-color: $pink;
$border-color: $grey-lightest;