// Font Sizes

@mixin font-size($fs-map) {
  @each $fs-breakpoint, $fs-font-size in $fs-map {
    @if $fs-breakpoint == null {
      font-size: $fs-font-size;
    }
    @else {
      @media screen and (min-width: $fs-breakpoint) {
        font-size: $fs-font-size;
      }
    }
  }
}

// Body font

@font-face {
  font-family: "Freight Book";
  src: url("../fonts/freight-book.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Freight Light";
  src: url("../fonts/freight-light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}