// Alignment

.u-text-right {
  text-align: right !important;
}

.u-text-left {
  text-align: left !important;
}

.u-text-center {
  text-align: center !important;
}

.u-text-justify {
  text-align: justify !important;
}

.u-text-right--large-up {
  @include mq(large-up) {
    text-align: right !important;
  }
}


// Colors

.u-text-contrast {
  color: $white !important;
}


// Links

.u-text-link {
  color: $grey-dark;
  padding-bottom: $spacing-small/3;
  border-bottom: 1px solid currentColor;
}

.u-text-underline {
  border-bottom: 1px solid currentColor;
}