<div class="c-social-links">
  <a href="http://dribbble.com/bobbynovoa" class="c-social-links__item" target="_blank">
    <%= inline_svg("icons/dribbble.svg", class: "o-icon c-social-links__icon") %>
  </a>
  <a href="http://twitter.com/bobbynovoa" class="c-social-links__item" target="_blank">
    <%= inline_svg("icons/twitter.svg", class: "o-icon c-social-links__icon") %>
  </a>
  <a href="mailto:bobbynovoa@gmail.com" class="c-social-links__item">
    <%= inline_svg("icons/mail.svg", class: "o-icon c-social-links__icon") %>
  </a>
</div>