<div class="c-hero">
  <div class="c-hero__logo">
    <div class="c-logo"></div>
  </div>
  <h1 class="c-hero__heading">
    <div class="c-hero__heading-wrap">
      <span class="c-hero__heading-name">Bobby Novoa.</span>
    </div>
    <div class="c-hero__heading-wrap">
      <span class="c-hero__heading-title">Designer of products & brands.</span>
    </div>
  </h1>
  <div class="c-hero__art">
    <img src="/images/bobby.png" class="c-hero__bobby">
    <div class="c-hero__frame"></div>
  </div>
  <div class="c-hero__border"></div>
  <div class="c-hero__lines">
    <% 5.times do |num| %>
      <div class="c-hero__line"></div>
    <% end %>
  </div>
  <%= partial "partials/social_links" %>
</div>